@import "tailwindcss";

@theme {
	--color-main-50: #f5f6fb;
	--color-main-100: #e8e9f7;
	--color-main-200: #d2d3ef;
	--color-main-300: #b1b2e4;
	--color-main-400: #8f90db;
	--color-main-500: #7a7cd8;
	--color-main-600: #6364c2;
	--color-main-700: #4e4fa0;
	--color-main-800: #3d3d7d;
	--color-main-900: #2e2e61;
	--color-main-950: #1d1d3d;
}
